/* navbar */

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

.tombolku {
  border-radius: 30px;
  text-transform: uppercase;
}

.jumbotron {
  background-image: url(../img/jumbotron-bg.jpg);
  background-size: cover;
  height: 100vh;
}

/* dekstop versi */
@media (min-width: 992px) {
  .nav-link {
    margin-right: 30px;
    text-transform: uppercase;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(64, 17, 236);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .navbar-brand,
  .nav-link {
    color: white !important;
  }

  .jumbotron {
    background-image: url(../img/jumbotron-bg.jpg);
    background-size: cover;
    height: 100vh;
    margin-top: -75px;
  }
}
